<footer id="page-footer">
    <div class="row">
        <div class="medium-8 columns">
            <div class="row">
                <div class="medium-3 column">
                    <img src="https://placehold.it/160x160" alt="Bild">
                </div>
                <div class="medium-9 column">
                    <h4>Über uns</h4>
                    <p>Die LG Burg ist eine Gemeinschaft von laufbegeisterten Menschen.
                        Gegründet wurde der eingetragene Verein 1989 von 15 Mitgliedern.
                        Neben regelmäßigen Trainingsterminen veranstalten wir den über die Region hinaus bekannten Christkindllauf im Dezember.
                    <br><a href="#">weiter lesen...</a> </p>
                </div>
            </div>
        </div>
        <div class="medium-4 columns">
            <form>
                <h5>LG BURG Newsletter</h5>
                <label for="email">Jetzt abonnieren und Immer auf dem Laufenden bleiben.</label>
                <input id="email" type="email" name="email" placeholder="Gib hier deine E-Mail-Adresse an">
                <button class="button expanded">Jetzt anmelden</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="medium-6 column">
            <h5>LG Burg Wiedenbrück von 1989 e.V.</h5>
            <p>Copyright © 2017 / Gotenweg 9 / 33378 Rheda-Wiedenbrück</p>
        </div>
        <div class="medium-6 column text-right">
            <nav>
                <ul class="menu">
                    <li><a href="#">Kontakt</a></li>
                    <li><a href="#">Impressum</a></li>
                    <li><a href="#">Datenschutz</a></li>
                </ul>
                <p>Follgen Sie uns: <a href="#"><i class="icon-facebook-squared"></i> </a></p>
            </nav>
        </div>
    </div>
</footer>