<a href="#content" class="skip">Zum Inhalt springen</a>
<header id="page-header">
    <div class="row">
        <div class="medium-2 columns">
            <a href="/"><img src="assets/img/LG-BURG.svg" alt="LG BURG"></a>
        </div>
        <div class="medium-6 columns">
            <h3>Die Gemeinschaft von laufbegeisterten Menschen</h3>
        </div>

        <div class="medium-4 column">
            <nav>
                <ul class="menu">
                    <li><a href="#">Kontakt</a></li>
                    <li><a href="#">Impressum</a></li>
                    <li><a href="#">Datenschutz</a></li>
                </ul>
                <p>Follgen Sie uns: <a href="#"><i class="icon-facebook-squared"></i> </a></p>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="medium-8 columns">
            <nav>
                <ul class="menu">
                    <li class="active"><a href="#"><i class="icon-home"></i></a></li>
                    <li><a href="#">Über uns</a></li>
                    <li><a href="#">Sportangebote</a></li>
                    <li><a href="#">Veranstaltungen</a></li>
                    <li><a href="#">Ergebnisse</a></li>
                    <li><a href="#">Aktulles</a></li>
                    <li><a href="#">Intern</a></li>
                </ul>
            </nav>
        </div>
        <div class="medium-4 column">
            <form>
                <input name="search" placeholder="Suchen...">
                <button type="submit"><i class="icon-search"></i></button>
            </form>
        </div>
    </div>
</header>