<!doctype html>
<html class="no-js" lang="de">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LG BURG</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
  </head>
  <body>

    {{> header}}

    <main id="content" class="row expanded">
    {{> body}}
    </main>

    <section class="feature">
      <div class="row">
        <div class="medium-8 column">
          <h3>Top Meldungen</h3>

          <div class="row">
            <div class="medium-6 column">
              <div class="card">
                <img src="https://placehold.it/450x220">
                <div class="card-section">
                  <h4>This is a card.</h4>
                  <p>It has an easy to override visual style, and is appropriately subdued.</p>
                </div>
              </div>
            </div>
            <div class="medium-6 column">
              <div class="card">
                <img src="https://placehold.it/450x220">
                <div class="card-section">
                  <h4>This is a card.</h4>
                  <p>It has an easy to override visual style, and is appropriately subdued.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="medium-4 column">
          <h3>Veranstaltungen</h3>

          <p>12.12.2017</p>
          <h5>70.3 Ironman , Mitteldistanz Wettkampf in Zell am See / Österreich am 01.09.13</h5>

          <p>War das eine Regenschlacht? Der 2. IRONMAN 70.3 in Zell am See-Kaprun ist Geschichte.  20.000 Zuseher entlang der Strecke jubelten den Athleten zu.</p>
        </div>
      </div>
    </section>

    {{> footer}}

    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>